body{
    font-family: montserrat;
    background-color: #a6f6f1;
}
.row-2{
    background-color: white;
}
ul {
    list-style-type: none;
    margin: 10px 20px;
    padding: 3px 20px;
    overflow: hidden;
    position: sticky;

border-radius: 40px;
  box-shadow: 3px 3px 20px #ff3352;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;

  background-image: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033,#d74177);	
  background-size: 400% 400%;
	animation: grad 15s ease infinite;
}


@keyframes grad {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }
  .nav-item{
      font-family: montserrat;
      font-size: 18px;
      margin-top: 6px;
  }
  
  li a:hover {
      color: white;

      -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
transition-duration: 0.3s;
  }
  .logo{
      font-size: 38px;
      padding-right: 0%;
  }
  .logo {
    padding-right: 0%;
  }
  .logo-link{
      padding-right: 2px;
      padding-top: 6px;
  }
  .brand-name{
      padding-left: 0%;
  }
  .icon-tray{
    text-align: right;
    color: white;
    margin-top: 20px ;
  }
  .icon{
    padding: 3px;
    font-size: 16px;
  }
  .icon:hover{
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  transition-duration: 0.3s;
  }
/* ---------------------------------------------------- */

.rev-row{
    padding: 3% 14%;
}
.rev-col-img{
    text-align: center;
}
.rev-col-data{
    padding: 2% 6.5%;
}
.rev-img{
    width: 75%;
    border-radius: 15px;
}

/* ----------------------------- */
.border-line{
    text-align: center;
  }
  
  .border{
   
    font-size: 25px;
    border: 0px !important;
  }

.border-line-1{
    position: relative;
    top: 22px;
}
.border-line-2{
    position: relative;
    bottom: 14px;
}
  /* ------------------------------- */
  footer{
      margin-top: 30px;
  }